{
  "$schema": "http://json.schemastore.org/prettierrc.json",
  "trailingComma": "all",
  "arrowParens": "always",
  "tabWidth": 2,
  "printWidth": 140,
  "semi": false,
  "singleQuote": true,
  "bracketSpacing": true,
  "plugins": ["prettier-plugin-sort-imports"]
}
