.PornSetting__thumbnails {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 10px;
}

.PornSetting__error {
  color: #cc0000;
}

.PornSetting__textarea {
  width: 100%;
  min-height: 6.25em;
}

.PornSetting__services {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 10px;
}

.PornSetting__service_tabs {
  display: flex;
  margin: 10px 0px;
  justify-content: center;
  gap: 5px
}

.PornSetting__service_tab {
  display: flex;
  justify-content: center;
  flex-grow: 1;
  cursor: pointer;
  border: 1px solid white;
}

.PornSetting__service_tab--selected {
  display: flex;
  justify-content: center;
  flex-grow: 1;
  cursor: pointer;
  border: 1px solid white;
}

.PornSetting__service_tab_content {
  padding: 20px;
  width: 100%;
  border: 2px solid #595a77;
}