:root {
  --text-color: #fff;
  --background: #1c1b1f;

  --section-background: #2e2f3b;
  --section-text: #d3cedc;
  --focus-color: #595a7766;

  --border-radius: 4px;
  --hover-transition: background 0.2s ease-in-out;

  --primary: #92678d;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;

  font-family: 'Helvetica Neue', 'Helvetica', sans-serif;
  background: var(--background);
  color: var(--text-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

button {
  border: unset;
}
