:root {
  --background: #1c1b1f;
  --text-color: #fff;

  --overlay-background: rgba(28, 27, 31, 0.7);
  --overlay-color: #fff;

  --primary: #92678d;

  --card-background: #2e2f3b;
  --card-color: #d3cedc;

  --button-background: #595a7766;
  --button-color: #fff;

  --border-radius: 4px;
  --hover-transition: background 0.2s ease-in-out;

  --icon-size: 1.4rem;

  color-scheme: dark;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  height: 100dvh;

  font-family: 'Helvetica Neue', 'Helvetica', sans-serif;
  background: var(--background);
  color: var(--text-color);
}

#root {
  height: 100%;
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

button {
  border: unset;
}
