:root {
  --background: #1c1b1f;
  --text-color: #fff;

  --overlay-background: #1c1b1fb3;
  --overlay-color: #fff;

  --primary: #92678d;

  --card-background: #2e2f3b;
  --card-color: #d3cedc;

  --section-background: #7a7ba31f;
  --section-color: #b9bad6;

  --button-background: #595a7766;
  --button-color: #fff;

  --legend-background: #595a77;
  --legend-color: #fff;

  --border-radius: 4px;
  --hover-transition: background 0.2s ease-in-out, filter 0.2s ease-in-out;
  --hover-filter: brightness(1.2);

  --icon-size: 1.4rem;

  color-scheme: dark;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  height: 100dvh;
}

#root {
  height: 100%;
  width: 100%;
}
